<!-- Dropdown Panel with variable content -->


    <div class="header-panels-container" id="header-panels-container" hidden aria-label="Dropdown header panels" role="region">
        
            <div class="header-panel-content" id="header-panel-content" role="region" aria-live="polite">

                <div class="panel-templates" hidden aria-hidden="true">
                    <template id="skills"> 
                        <div class = "panel-header-grid">
                            <a class="button" tabindex="0" aria-label="{{ site.data.textos[lang].skills_view }}">{{ site.data.textos[lang].skills_title }}</a>
                            <a tabindex="-1" aria-hidden="true">{{ site.data.textos[lang].skills_description }}</a>
                        </div>
                        <div class="interactive-table" role="region" aria-label="{{ site.data.textos[lang].skills_table_label }}">
                            <table aria-describedby="skills-table-desc">
                                <caption id="skills-table-desc" class="sr-only"></caption>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">{{ site.data.textos[lang].etl }}</th>
                                    <th scope="col">{{ site.data.textos[lang].data_analysis }}</th>
                                    <th scope="col">{{ site.data.textos[lang].data_modeling }}</th>
                                    <th scope="col">{{ site.data.textos[lang].dashboard_design }}</th>
                                    <th scope="col">{{ site.data.textos[lang].data_visaulization }}</th>
                                    <th scope="col">{{ site.data.textos[lang].insights }}</th>
                                    <th scope="col">OKR/KPIs</th>
                                    <th scope="col">{{ site.data.textos[lang].web_development }}</th>
                                </tr>
                                <tr>
                                    <td>{{ site.data.textos[lang].main_tool }}</td>
                                    <td><img src="{{ 'assets/icons/microsoft-sql-server-logo.png' | relative_url }}" alt="ssis icon" width="24" height="19"><span class="icon"></span>SSIS</td>   
                                    <td><img src="{{ 'assets/icons/excel.png' | relative_url }}" alt="excel icon" width="19" height="17"><span class="icon"></span>Excel</a></td>   
                                    <td><img src="{{ 'assets/icons/power-query.svg' | relative_url }}" alt="power query icon" width="24" height="17"><span class="icon"></span>Power Query</td>   
                                    <td><img src="{{ 'assets/icons/powerbi.png' | relative_url }}" alt="power bi icon" width="24" height="17"><span class="icon"></span>Power BI</td>   
                                    <td><img src="{{ 'assets/icons/figma.png' | relative_url }}" alt="figma icon" width="24" height="19"><span class="icon"></span>Figma</td>   
                                    <td>🧠Business Analysis</td>
                                    <td>🧠Business Analysis</td>
                                    <td><img src="{{ 'assets/icons/github.svg' | relative_url }}" alt="github icon" width="24" height="17"><span class="icon"></span>GitHub</td>   
                                </tr>
                                <tr>
                                    <td>{{ site.data.textos[lang].projects }}</td>
                                    <td><a href="{{ site.sections.ssis.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].etl_siss_package }}">{{ site.data.textos[lang].etl_siss_package }}</a></td>  
                                    <td><a href="{{ site.sections.adventureworks.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].adventureworks_analysis }}</a></td>
                                    <td></td>
                                    <td><a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a></td>
                                    <td><a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a></td>
                                    <td><a href="{{ site.sections.adventureworks.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].adventureworks_analysis }}</a></td>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#intel-project-analyst">{{ site.data.textos[lang].working_experience_items.intel }}</a></td>
                                    <td><a href="Portfolio homepage" aria-label="View this portfolio">This portfolio</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </template>

                    <template id="tools">
                        <div class="panel-header-grid">
                            <a class="button" tabindex="0" aria-label="{{ site.data.textos[lang].tools_view }}">
                                {{ site.data.textos[lang].tools_title }}
                            </a>

                            <a tabindex="-1" aria-hidden="true">
                                {{ site.data.textos[lang].tools_description }}
                            </a>
                        </div>

                        <div class="interactive-table" role="region" aria-label="{{ site.data.textos[lang].tools_table_label }}">
                            <table aria-describedby="tools-table-desc">

                                <caption id="tools-table-desc" class="sr-only"></caption>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"><img src="{{ 'assets/icons/powerbi.png' | relative_url }}" alt="power bi icon" width="24" height="17"><span class="icon"></span>Power BI</th>
                                    <th scope="col"><img src="{{ 'assets/icons/sql.png' | relative_url }}" alt="sql icon" width="19" height="19"><span class="icon"></span>SQL</th>
                                    <th scope="col"><img src="{{ 'assets/icons/excel.png' | relative_url }}" alt="excel icon" width="19" height="17"><span class="icon"></span>Excel</th>
                                    <th scope="col"><img src="{{ 'assets/icons/python-logo.png' | relative_url }}" alt="python icon" width="24" height="17"><span class="icon"></span>Python</th>
                                    <th scope="col"><img src="{{ 'assets/icons/microsoft-sql-server-logo.png' | relative_url }}" alt="ssis icon" width="24" height="19"><span class="icon"></span>SSIS</th>
                                    <th scope="col"><img src="{{ 'assets/icons/vscode-logo.png' | relative_url }}" alt="vscode icon" width="20" height="17"><span class="icon"></span>Visual Studio Code</th>
                                    <th scope="col"><img src="{{ 'assets/icons/github.svg' | relative_url }}" alt="github icon" width="24" height="17"><span class="icon"></span>GitHub</th>
                                    <th scope="col"><img src="{{ 'assets/icons/figma.png' | relative_url }}" alt="figma icon" width="24" height="19"><span class="icon"></span>Figma</th>
                                </tr>
                                <tr>
                                    <td>{{ site.data.textos[lang].projects }}</td>
                                    <td><a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a></td>  
                                    <td><a href="{{ site.sections.adventureworks.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].adventureworks_analysis }}</a></td>
                                    <td><a href="{{ site.sections.adventureworks.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].adventureworks_analysis }}</a></td>
                                    <td><a href="{{ site.sections.adventureworks.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].adventureworks_analysis }}</a></td>
                                    <td><a href="{{ site.sections.ssis.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].etl_siss_package }}">{{ site.data.textos[lang].etl_siss_package }}</a></td>  
                                    <td>This Portfolio</td>
                                    <td>This Portfolio</td>
                                    <td><a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a></td>
                            </table>
                        </div>
                    </template>

                    <template id="work-experience">
                      <div class="panel-header-grid">
                            <a class="button" tabindex="0" aria-label="{{ site.data.textos[lang].work_experience_view }}">
                                {{ site.data.textos[lang].work_experience_title }}
                            </a>

                            <a tabindex="-1" aria-hidden="true">
                                {{ site.data.textos[lang].work_experience_description }}
                            </a>
                        </div>

                        <div class="interactive-table" role="region" aria-label="{{ site.data.textos[lang].work_experience_table_label }}">
                    

                            <table class="working-exp-table" aria-describedby="workexp-table-desc"> 
                                    <caption id="workexp-table-desc" class="sr-only"></caption>
                                <tr>    
                                    <th><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#intel-project-analyst" aria-label="View experience Intel Project Analyst">{{ site.data.textos[lang].working_experience_items.intel }}</a></th>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#certified-instructor-program-dashboard" aria label="View CIP Dashboard">{{ site.data.textos[lang].working_experience_jobs.cip_dashboard }}</a></td>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#workshop-quality-survey-dashboard" aria label="View Qualtrics Dashboard">{{ site.data.textos[lang].working_experience_jobs.qualtrics_dashboard }}</a></td>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#developers-trained" aria label="View Devs Trained Dashboard">{{ site.data.textos[lang].working_experience_jobs.dev_trained_dashboard }}</a></td>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#docebo-lms-dashboard" aria label="View Docebo Dashboard">{{ site.data.textos[lang].working_experience_jobs.docebo_dashboard }}</td>
                                </tr>
                                <tr>
                                    <th><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#conagra-sales-analyst" aria-label="View experience Conagra Brands Sales Analyst">{{ site.data.textos[lang].working_experience_jobs.conagra_brands_analyst }}</a></th>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#conagra-sales-analyst" aria-label="View experience Conagra Brands Sales Analyst">{{ site.data.textos[lang].working_experience_jobs.conagra_sales_analyst }}</a></td>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#operational-leadership-process-management" aria label="View Operational Managment">{{ site.data.textos[lang].working_experience_jobs.conagra_operational_lead }}</a></td>
                                    <td><a href="{{ site.sections.experience.url }}/{{ page.lang }}/#management-control-analyst" aria label="View Managment Control Analyst">{{ site.data.textos[lang].working_experience_jobs.conagra_control_analyst }}</td>
                                </tr>                            
                            </table>
                        </div>
                    </template>

                    <template id="projects">
                        <div class="panel-header-grid">
                            <a class="button" tabindex="0" aria-label="{{ site.data.textos[lang].projects_view }}">
                                {{ site.data.textos[lang].projects_title }}
                            </a>

                            <a tabindex="-1" aria-hidden="true">
                                {{ site.data.textos[lang].projects_description }}
                            </a>
                        </div>

                        <div class="interactive-table" role="region" aria-label="{{ site.data.textos[lang].projects_table_label }}">
                            <table aria-describedby="projects-table-desc">
                                <caption id="projects-table-desc" class="sr-only"></caption>
                                 <tr>
                                    <th scope="row">
                                        <a href="{{ site.sections.contoso.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].contoso_sales }}">{{ site.data.textos[lang].contoso_sales }}</a>
                                        <div class="project-icons">
                                            <img src="{{ 'assets/icons/powerbi.png' | relative_url }}" alt="power bi icon" width="24" height="17"><span class="icon"></span>
                                            <img src="{{ 'assets/icons/excel.png' | relative_url }}" alt="excel icon" width="19" height="17"><span class="icon"></span>
                                            <img src="{{ 'assets/icons/figma.png' | relative_url }}" alt="figma icon" width="24" height="19"><span class="icon"></span>
                                        </div>                                        
                                    </th>
                                    <th scope="row">
                                        <a href="{{ site.sections.adventureworks.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].adventureworks_analysis }}">{{ site.data.textos[lang].adventureworks_analysis }}</a>
                                        <div class="project-icons">
                                            <img src="{{ 'assets/icons/microsoft-sql-server-logo.png' | relative_url }}" alt="ssis icon" width="24" height="19"><span class="icon"></span>
                                            <img src="{{ 'assets/icons/excel.png' | relative_url }}" alt="excel icon" width="19" height="17"><span class="icon"></span>
                                            <img src="{{ 'assets/icons/powerbi.png' | relative_url }}" alt="power bi icon" width="24" height="17"><span class="icon"></span>
                                            <img src="{{ 'assets/icons/python-logo.png' | relative_url }}" alt="python icon" width="24" height="17"><span class="icon"></span>
                                        </div>
                                    </th>
                                    <th scope="row">
                                        <a href="{{ site.sections.ssis.url }}/{{ page.lang }}/" aria-label="{{ site.data.textos[lang].etl_siss_package }}">{{ site.data.textos[lang].etl_siss_package }}</a>
                                        <div class="project-icons">
                                            <img src="{{ 'assets/icons/microsoft-sql-server-logo.png' | relative_url }}" alt="ssis icon" width="24" height="19"><span class="icon"></span>
                                            <img src="{{ 'assets/icons/python-logo.png' | relative_url }}" alt="python icon" width="24" height="17"><span class="icon"></span>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </template>

                    <template id="documents">                     
                            <a class="button" tabindex="0" aria-label="{{ site.data.textos[lang].documents_view }}">
                                {{ site.data.textos[lang].documents_title }}
                            </a>

                        <div class="documents-menu" role="region" aria-label="Relevant documents">
                            <ul class="documents-list">
                                <li>
                                    <a href="../assets/files/Aldo%20Reyes%20CV.pdf" aria-label="{{ site.data.textos[lang].documents_cv_aria }}">
                                        <span class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="24" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
                                                <rect x="3" y="3" width="26" height="18" rx="2" ry="2" fill="#E53E3E"/>
                                                <text x="6" y="16" font-family="Arial, sans-serif" font-size="10" fill="white">PDF</text>
                                            </svg>
                                        </span>
                                        [{{ site.data.textos[lang].documents_cv_label }}]
                                    </a>
                                </li>
                            </ul>
                    </template>

                    <template id="contact">
                         <div class="header-panel-content" role="region" aria-label="{{ site.data.textos[lang].contact_panel_label }}">
                            <a tabindex="-1" aria-hidden="true"></a>
                            <a tabindex="-1" aria-hidden="true">
                                <i>{{ site.data.textos[lang].contact_intro }}</i>
                            </a>

                            <ul class="contact-menu">
                                <li>
                                    <a href="tel:+525569318062" aria-label="{{ site.data.textos[lang].contact_phone_aria }}">
                                        <span class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                                <path d="M7 2C5.9 2 5 2.9 5 4v16c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2H7zm5 19c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm5-3H7V5h10v13z"/>
                                            </svg>
                                        </span>
                                        {{ site.data.textos[lang].contact_phone_label }}
                                    </a>
                                </li>

                                <li>
                                    <a href="mailto:aldoan84@gmail.com" aria-label="{{ site.data.textos[lang].contact_gmail_aria }}">
                                        <span class="icon">
                                            <img src="{{ 'assets/icons/gmail.png' | relative_url }}" alt="Gmail icon" width="24" height="17">
                                        </span>
                                            aldoan84@gmail.com
                                    </a>
                                </li>

                                <li>
                                    <a href="mailto:aldoan84@hotmail.com" target="_blank" aria-label="{{ site.data.textos[lang].contact_outlook_aria }}">
                                        <span class="icon">
                                            <img src="{{ 'assets/icons/outlook.png' | relative_url }}" alt="Outlook icon" width="24" height="22">
                                        </span>
                                        aldoan84@hotmail.com
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.linkedin.com/in/aldoreyesbianalyst?" target="_blank" aria-label="{{ site.data.textos[lang].contact_linkedin_aria }}">
                                        <span class="icon">
                                            <img src="{{ 'assets/icons/linkedin.png' | relative_url }}" alt="LinkedIn icon" width="22" height="22">
                                        </span>
                                            {{ site.data.textos[lang].contact_linkedin_label }}
                                    </a>
                                </li>

                                <li>
                                    <a href="https://github.com/AldoReyes84" target="_blank" aria-label="{{ site.data.textos[lang].contact_github_aria }}">
                                        <span class="icon">
                                            <img src="{{ 'assets/icons/github.svg' | relative_url }}" alt="GitHub icon" width="22" height="22">
                                        </span>
                                            {{ site.data.textos[lang].contact_github_label }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </template>

                    <template id="share-menu">
                        <ul class="share-menu" aria-label="{{ site.data.textos[lang].share_menu_label }}">
    
                            <li>
                                <a href="{{ site.data.textos[lang].share_email_url }}" aria-label="{{ site.data.textos[lang].share_email_aria }}">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                            <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 2v.01L12 13 4 6.01V6h16zM4 18V8l8 5 8-5v10H4z"/>
                                        </svg>
                                    </span>
                                        {{ site.data.textos[lang].share_email_label }}
                                </a>
                            </li>

                            <li>
                                <a href="{{ site.data.textos[lang].share_whatsapp_url }}" target="_blank" aria-label="{{ site.data.textos[lang].share_whatsapp_aria }}">
                                    <span class="icon">
                                        <img src="{{ 'assets/icons/whatsapp.webp' | relative_url }}" alt="WhatsApp icon" width="22" height="22">
                                    </span>
                                        {{ site.data.textos[lang].share_whatsapp_label }}
                                </a>
                            </li>

                            <li>
                                <div class="tooltip-container">
                                    <a href="{{ site.data.textos[lang].share_linkedin_url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ site.data.textos[lang].share_linkedin_aria }}">
                                        <span class="icon">
                                            <img src="{{ 'assets/icons/linkedin.png' | relative_url }}" alt="LinkedIn icon" width="22" height="22">
                                        </span>
                                            {{ site.data.textos[lang].share_linkedin_label }}
                                    </a>
                                    <div class="tooltip-text">
                                        {{ site.data.textos[lang].share_linkedin_tooltip }}
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </template>      
                </div>
            </div>

        </div>
